.form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  max-width: 500px;
  align-self: center;
}

.button {
  font-size: 2rem;
  padding: 1rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
